@import 'tailwindcss';

@plugin '@styleguide/core' {
  themes:
    light --default,
    night --prefersdark,
    dark,
    cupcake,
    bumblebee,
    emerald,
    corporate,
    synthwave,
    retro,
    cyberpunk,
    valentine,
    halloween,
    garden,
    forest,
    aqua,
    lofi,
    pastel,
    fantasy,
    wireframe,
    black,
    luxury,
    dracula,
    cmyk,
    autumn,
    business,
    acid,
    lemonade,
    coffee,
    winter,
    dim,
    nord,
    sunset,
    caramellatte,
    abyss,
    silk;
}

@import './base/base.css';
@import './base/typography.css';

@import './utilities/layout.css';

@layer components {
  .app-layout {
    @apply bg-base-100 relative isolate flex min-h-screen flex-col overscroll-none;
    @apply grid min-h-screen grid-rows-[auto_1fr_auto];
  }

  .app-layout::before {
    content: '';
    @apply bg-primary/5 pointer-events-none absolute -top-40 left-0 z-[-1] h-[500px] w-[500px] rounded-full blur-[120px];
  }

  .app-layout::after {
    content: '';
    @apply bg-secondary/5 pointer-events-none absolute top-1/2 right-0 z-[-1] h-[600px] w-[600px] rounded-full blur-[150px];
  }

  .al__main {
    @apply flex w-full flex-1 flex-col gap-4;
  }

  .page-title {
    @apply text-base-content text-3xl font-black tracking-tight sm:text-4xl;
  }
}

@import 'notyf/notyf.min.css';
