<nav class="app-navbar" aria-label="Navegacion principal">
  <div class="an__container">
    <a routerLink="/" class="an__brand" aria-label="Ir al inicio"> Country App </a>

    <ul class="an__list">
      @for (item of navItems; track item.path) {
        <li class="an__item">
          <a
            [routerLink]="item.path"
            [routerLinkActiveOptions]="{ exact: item.exact}"
            [style.view-transition-name]="linkActive.isActive ? 'nav-active-link' : null"
            #linkActive="routerLinkActive"
            routerLinkActive="an__link--active"
            class="an__link"
          >
            {{ item.label }}
          </a>
        </li>
      }
    </ul>
  </div>
</nav>
