<nav class="country-top-menu" aria-label="Navegacion de la seccion paises">
  <ul class="ctm__list">
    @for (item of menuItems; track item) {
      <li class="ctm__item">
        <a
          [routerLink]="item.routerLink"
          [attr.aria-label]="item.ariaLabel"
          [routerLinkActiveOptions]="{ exact: true }"
          [attr.aria-current]="linkActive.isActive ? 'page' : null"
          [style.view-transition-name]="linkActive.isActive ? 'country-active-link' : null"
          #linkActive="routerLinkActive"
          routerLinkActive="ctm__link--active"
          class="ctm__link"
        >
          {{ item.label }}
        </a>
      </li>
    }
  </ul>
</nav>
